//- [Header]: Левое
div.header__left
	//- [Header]: Лого
	a.header__logo(href="/")
		img(src="../assets/img/logo.webp" alt="logo" width="131" height="26" loading="lazy")

	//- [Header]: Навигация
	include ../ui/nav.pug